<robot name="object">
  <link name="object">
    <inertial>
      <origin xyz="0.35 0 0" />
      <mass value="1.0" />
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="1.0"  iyz="0.0"  izz="1.0" />
    </inertial>
    <visual>
      <!--origin xyz="0.7 0 0.5"/-->
      <origin xyz="0.35 0 0.65"/>
      <geometry>
        <box size="0.02 0.02 0.2" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.35 0 0.65"/>
      <geometry>
        <box size="0.02 0.02 0.2" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="object">
    <material>Gazebo/Green</material>
  </gazebo>
</robot>
