<?xml version="1.0"?>


<robot xmlns:xacro="http://ros.org/wiki/xacro" name="UR3e_RG2_ER5" >

  <!-- common stuff -->
  <xacro:include filename="$(find ur_e_description)/urdf/common.gazebo.xacro" />

  <xacro:include filename="$(find ur_e_description)/urdf/ur3e.urdf.xacro"/>

  <xacro:include filename="$(find UR3e_RG2_ER5_description)/urdf/rg2.urdf.xacro" />

  <xacro:include filename="$(find UR3e_RG2_ER5_description)/urdf/er5.urdf.xacro" />


  <!-- arm -->
  <xacro:ur3e_robot prefix="" joint_limited="true"
    shoulder_pan_lower_limit="${-pi}" shoulder_pan_upper_limit="${pi}"
    shoulder_lift_lower_limit="${-pi}" shoulder_lift_upper_limit="${pi}"
    elbow_joint_lower_limit="${-pi}" elbow_joint_upper_limit="${pi}"
    wrist_1_lower_limit="${-pi}" wrist_1_upper_limit="${pi}"
    wrist_2_lower_limit="${-pi}" wrist_2_upper_limit="${pi}"
    wrist_3_lower_limit="${-pi}" wrist_3_upper_limit="${pi}"
  />

  <xacro:rg2 prefix=""/>
  <xacro:er5 prefix=""/>

  <!-- joints required to connect  -->


  <joint name="er5_to_ur3e" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 -1.57"/>
    <parent link="er5_body_link"/>
    <child link="base_link"/>
  </joint>

  <joint name="ur3e_to_gripper" type="fixed">
    <origin xyz="0 0 0.0" rpy="0 0 0"/>
    <parent link="tool0"/>
    <parent link="wrist_3_link" />
    <child link="gripper_extender_link"/>
  </joint>

  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "er5_body_link" />
    <origin xyz="0.0 0.0 1" rpy="0.0 0.0 0.0" />
  </joint>


</robot>
